<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Ghanshyam, Viet Nguyen</author>
	<description>
		Billing module
	</description>

	<activator>@MODULE_PACKAGE@.BillingModuleActivator</activator>

	<require_modules>
		<require_module>org.openmrs.module.hospitalcore</require_module>
	</require_modules>

	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>1.6.1</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.BillingHeader</class>
	</extension>


	<!-- AOP <advice> <point>org.openmrs.api.FormService</point> <class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class> 
		</advice> /AOP -->

	<privilege>
		<name>Add Bill</name>
		<description>Allows user to add Bill</description>
	</privilege>

	<privilege>
		<name>Edit Bill</name>
		<description>Allows user to edit Bill</description>
	</privilege>

	<privilege>
		<name>Edit Bill once printed</name>
		<description>Allows user to edit Bill once it has been printed
		</description>
	</privilege>

	<privilege>
		<name>View Bills</name>
		<description>Allows user to view Bills</description>
	</privilege>

	<privilege>
		<name>Add/Edit Tender</name>
		<description>Allows user to Add / Edit Tender</description>
	</privilege>

	<privilege>
		<name>View Tenders</name>
		<description>Allows user to view Tenders</description>
	</privilege>

	<privilege>
		<name>Delete Tender</name>
		<description>Allows user to delete Tender</description>
	</privilege>

	<privilege>
		<name>Add/Edit Company</name>
		<description>Allows user to Add / Edit Company</description>
	</privilege>

	<privilege>
		<name>View Companies</name>
		<description>Allows user to view Companies</description>
	</privilege>

	<privilege>
		<name>Delete Company</name>
		<description>Allows user to delete Company</description>
	</privilege>

	<privilege>
		<name>Add/Edit Ambulance</name>
		<description>Allows user to Add / Edit Ambulance</description>
	</privilege>

	<privilege>
		<name>View Ambulances</name>
		<description>Allows user to view Ambulances</description>
	</privilege>

	<privilege>
		<name>Delete Ambulance</name>
		<description>Allows user to delete Ambulance</description>
	</privilege>

	<privilege>
		<name>Delete Ambulance</name>
		<description>Allows user to delete Ambulance</description>
	</privilege>

	<privilege>
		<name>Delete Miscellaneous Service</name>
		<description>Allows user to delete Miscellaneous Service</description>
	</privilege>

	<privilege>
		<name>Add/Edit Miscellaneous Service</name>
		<description>Allows user to add/edit Miscellaneous Service
		</description>
	</privilege>

	<privilege>
		<name>View Miscellaneous Service</name>
		<description>Allows user to view Miscellaneous Service</description>
	</privilege>
	
	<!-- ghanshyam 3-june-2013 New Requirement #1632 Orders from dashboard must be appear in billing queue.User must be able to generate bills from this queue -->
	<privilege>
		<name>Test order queue</name>
		<description>Allows user to process test order queue</description>
	</privilege>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.updatedReceiptIds</property>
		<defaultValue>false</defaultValue>
		<description>
			A variable to indicate that the receipt has been updated
			for old bills or not. DO NOT change this !
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.BPL</property>
		<defaultValue>571</defaultValue>
		<description>
			Concept ID of Patient BPL property. Used to determine
			patient BPL status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.Poor</property>
		<defaultValue>570</defaultValue>
		<description>
			Concept ID of Patient Poor property. Used to determine
			patient Poor status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.category</property>
		<defaultValue>Patient Category</defaultValue>
		<description>
			Name of attribute Patient Economic Category property.
			Used to determine patient BPL status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.orderTypeId</property>
		<defaultValue>1</defaultValue>
		<description>
			Order type ID from Order_type table of openmrs to
			determine which record is of type
			"Service Order".
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.rootServiceConceptId</property>
		<defaultValue>12</defaultValue>
		<description>
			Root Concept's ID from concepts table of openmrs to
			determine which record is
			the root in service hierarchy for billing patients.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.encounterTypeId</property>
		<defaultValue>6</defaultValue>
		<description>
			Encounter type Id used for billing generated encounters,
			from encounter_type table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.locationId</property>
		<defaultValue>1</defaultValue>
		<description>
			Location Id used for billing generated encounters, from
			location table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.patientIdetifierTypeId</property>
		<defaultValue>1</defaultValue>
		<description>
			Patient Identifier type Id used for billing generated
			encounters,
			from patientidentifiertype table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.medicalExaminationIds</property>
		<defaultValue>1</defaultValue>
		<description>
			ConceptIds of Medical examinations. Each test of
			medication examination will be created one Order.
			Separate by comma
			for eg: 12,23,45 
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.labEncounterType</property>
		<defaultValue>LABENCOUNTER</defaultValue>
		<description>
			LabEncounterType name 
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.radiologyEncounterType</property>
		<defaultValue>RADIOLOGYENCOUNTER</defaultValue>
		<description>
			RadiologyEncounterType name 
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.labOrderType</property>
		<defaultValue>3</defaultValue>
		<description>
			Lab order type id 
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.radiologyOrderType</property>
		<defaultValue>4</defaultValue>
		<description>
			Radiology order type id 
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.maintainCode</property>
		<defaultValue></defaultValue>
		<description>
			Maintain codes
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.allPatientCategories</property>
		<defaultValue>General,Poor,MLC,Hospital Staff,Government
			Employee,RSBY,BPL,Senior Citizen</defaultValue>
		<description>
			All patient categories
		</description>
	</globalProperty>


	<!--Required Global Properties -->

	<!-- <dwr> <allow> <create creator="new" javascript="DWRFormEntryService"> 
		<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/> 
		<include method="enterForm"/> </create> </allow> <signatures> <![CDATA[ import 
		@MODULE_PACKAGE@.web.DWRFormEntryService; DWRFormEntryService.enterForm(Integer 
		patientId, Integer formId, boolean useEncounter, List<String> fields); ]]> 
		</signatures> </dwr> -->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
		<servlet> <servlet-name>formDownload</servlet-name> <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class> 
		</servlet> -->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>
	</mappingFiles>
</module>

